.page-title Developers

- if has_role? :admin
  .context-nav.right
    %a{:href => "/developer/new", :title => "Create Developer"} + New Developer

- if !@developers.empty?
  %table#developer-list.data-horizontal
    %tr
      %th Name
      %th Email
      %th Actions
    - @developers.each do |developer|
      %tr.developer{:id => "developer-#{developer.id}", :class => alt_row_color}
        %td
          %a{:href => "/developer/#{developer.id}", :title => "Show #{developer.name}"}= developer.name
        %td!= show_email(developer)
        %td
          - if has_role?(:admin) || user_is_dev?(developer)
            %a{:href => "/developer/#{developer.id}/edit", :title => "Edit #{developer.name}"} Edit
            - if has_role?(:admin)
              or
              != partial :"partials/delete_form_button", :action => "/developer/#{developer.id}", :id => developer.id
          - else
            %span.emphasis No Actions
      
- else
  No developers found here
