.context-nav.right
  %a{:href => "/developer/#{@developer.id}/edit", :title => "Edit #{@developer.name}"} Edit
  or
  != partial :"partials/delete_form_button", :action => "/developer/#{@developer.id}", :id => @developer.id

.page-title!= "#{@developer.name} (#{show_email(@developer)})"
  
%h3.title Active Projects

- unless @developer.active_projects.nil? || @developer.active_projects.empty?
  != partial :"partials/project_list", :projects => @developer.active_projects
- else
  = "No active projects found for #{@developer.first_name}."