.context-nav.right
  %a{:href => "/department/#{@department.id}/edit", :title => "Edit #{@department.name}"} Edit
  or
  != partial :"partials/delete_form_button", :action => "/department/#{@department.id}", :id => @department.id

.page-title!= "#{@department.name} (#{@department.contact})"
  
%h3.title Active Projects

- unless @department.active_projects.nil? || @department.active_projects.empty?
  != partial :"partials/project_list", :projects => @department.active_projects
- else
  = "No active projects found for #{@department.name}."