.page-title= "Edit '#{@project.name}'"

%form{:action => "/project/#{@project.id}", :method => "post", :name => "edit_project_#{@project.id}"}
  %input{:type => "hidden", :name => "_method", :value => "put"}
  .row
    .label Developer
    .input
      != developers_drop_down @project.developer_id
  .row
    .label Department
    .input
      != departments_drop_down @project.department_id
  .row
    .label Original Target Date
    .input
      - if @project.original_target_date.nil?
        %input{:type => "text", :name => "original_target_date", :value => @project.current_target_date.strftime("%m/%d/%Y")}
        (
        %a{:href => "javascript:void(0);", :onclick => "document.forms[0].original_target_date.value = '';", :title => "Clear Original Date"} Clear
        )
      - else
        != show_date @project.current_target_date
        (
        %input{:type => "checkbox", :name => "clear_original_target_date", :value => "1"} Clear
        )
  .row
    .label &nbsp;
    .input
      %input{:type => "submit", :name => "submit", :value => "Update Settings"}
      or
      %a{:href => "/project/#{@project.id}", :title => "Cancel project edit"} Cancel
